@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
body{
  background-color:hsla(23, 53%, 87%, 0.808);
  font-family: 'Young Serif', serif;
}

.container{
  max-width: 35vw;
  height: 90%;
  background-color: hsl(0, 0%, 100%);
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 25px 50px 75px 30%;
  border-radius: 12px;
}



.content{
  margin: 25px 15px;
  padding: 25px 25px 25px 25px;
  
}
.preparation{
  height: 120px;
  background-color: hsl(330, 100%, 98%);
  padding: 10px;
  padding-left: 30px;
  letter-spacing: 1.2px;
  font-size: 13px;
  align-items: center;
  text-align: left;
  justify-content: center;
  border-radius: 15px;
}
.preparation h2{
  color: hsl(332, 51%, 32%);
}
.preparation li::marker{
  color: hsl(332, 51%, 32%);
}

.info{
  font-family: "Outfit", sans-serif;
}

.content img{
  height: 100%;
  width: 100%;
  border-radius: 14px;
}

h2, h1{
  color:hsl(15, 30%, 51%);
}

li::marker{
  color: hsl(15, 30%, 51%);
}

.container li{
  padding-left: 20px;
}

hr{
  opacity: 40%;
  margin-bottom: 40px;
  margin-top: 40px;
}

.nutrition ul li{
 list-style: none;

}

.nutrition hr{
  margin: 1em;
  
}

.nutrition b{
  color: hsl(15, 30%, 51%);
  padding-left: 15rem ;
}

body {
  width: auto;
    height: auto;
}

@media screen and (max-width: 800px) {
  .container {
    min-width: 100vw;
    margin: 0;
  }
  
}
